---
layout: 	master
title: 		Početna
description: 	Predlošci za prigovore
background: 	true
---

<div class="container">

	<header class="row">
	  <div class="col-sm-6 col-md-12" style="margin-top:25px;margin-bottom:25px">
	    <h1 id="pin">{{site.title}}</h1>
	  </div>
	</header>
	<nav>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts limit:1 %}
				<a href="{{post.ext}}" title="Posljednje dodano">
					<div class="tile red">
						<h3 class="title">Posljednje dodano</h3>
						<h4 class="title">{{ post.title }}</h4>
						<p> {{ post.description | strip_html | truncatewords: 10 }}</p>
					</div>
				</a>
				{% endfor %}
			</div>

 			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="zgh/" title="Pogledaj prigovore za Zagrebački holding">
					<div class="tile blue">
						<h2 class="title">Zagrebački holding</h2>
						<p>Primjeri prigovora za Zagrebački holding - Čistoća, ZET, Gradska plinara, Zrinjevac, itd</p>
					</div>
				</a>
		        </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="zgh/" title="Pogledaj prigovore za Klinički bolnički centar Zagreb">
					<div class="tile blue">
						<h2 class="title">KBC Zagreb</h2>
						<p>Primjeri reklamacija za Klinički bolnički centar Zagreb</p>
					</div>
				</a>
		        </div>
			
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="http://reklamacije.net/select_authority" title="Pošalji novu reklamaciju" class="tile purple" target="_blank">
					<i class="icon-rems" style="font-size:8em"></i>
				</a>
			</div>
		</div>

		<div class="row">

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts %}
					{% if post.featured == true %}
					<a href="{{post.ext}}" title="Istaknuto">
						<div class="tile orange">
							<h3 class="title">Ističemo</h3>
							<h4 class="title">{{ post.title }}</h4>
							<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
						</div>
					</a>
					{% break %}
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="row" style="margin-bottom:25px">

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.twitter}}" title="Twitter" class="tile blue">
					<i class="icon-twtr" style="font-size:8em"></i>
				</a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.facebook}}" class="tile blue">
					<i class="icon-fcbk" style="font-size:8em"></i>
				</a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">

				<a href="{{site.github}}" title="Github" class="tile darken">
					<i class="icon-gthb" style="font-size:8em"></i>
				</a>

			</div>
		</div>
	</nav>
</div>
