---
layout:		master
title:		ZGH
description:	List of specific templates
tile-color:	blue
background:	true
---

<div class="container">

	<header class="row">
	  <div class="col-sm-6 col-md-12" style="margin-top:25px;margin-bottom:25px">
		  <a href="/"><h1 id="pin">{{site.title}} <small>{{page.title}}</small></h1></a>
	  </div>
	</header>
	<nav>
		<div class="row">
			{% for post in site.posts %}
			    {% for otag in post.categories %}
                            {% if otag contains page.title %}
 			<div class="col-md-4 col-sm-6 col-xs-12">
				{% if post.categories %}
                 {% for entity in site.entities %}
                  {% if post.categories contains entity.page_category %}
                   {% assign addressed_to = "Za: " %}
                   <a href="{{{site.alaveteli.url}}/new/{{entity.slug}}/?title={{post.request_title | url_encode}};body={{addressed_to | url_encode}}{{entity.name}}%0A%0A{{post.request_body | url_encode }}&tags={{post.request_tags | url_encode}}+from-template:{{post.sequence}}+podnesi:pisani-prigovor" title="Go to {{ post.title }}" target="_blank">
                  {% endif %}
                 {% endfor %}
                {% endif %}
					<div class="tile {{ page.tile-color }}">
						<h2 class="title">{{ post.title }}</h2>
						<p>{{ post.description | strip_html | truncatewords: 20 }}</p>
					</div>
				</a>
 			</div>
                            {% endif %}
                            {% endfor %}
			{% endfor %}
		</div>
	</nav>
</div>

