---
layout: master
---

<div class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-md-2 col-sm-3 li8-green sidebar">
      {% include sidemenu.html %}
    </div> <!-- Side column -->
    <div class="col-md-8 col-sm-7 col-md-offset-3 col-sm-offset-4">
      <article class="col-md-12 col-xs-12 justified">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="publish-tag">
          <span class="fa fa-calendar"></span>&nbsp;od {{ page.date | date: "%d.%m.%Y" }}
        </div>
        {{ content }}
        <br/>
        <span class="fa fa-tag"></span>Oznake:
        {% if page.tags %}
          {% for tag in page.tags %}
            <a href="/tags/{{tag}}"><span class="label label-primary">{{tag}}</span></a>
          {% endfor %}
        {% else %}
          None
        {% endif %}
        <br /><br />
        <br /><br />
      </article>
      
      <div class="row">
        <div class="col-sm-3 col-xs-3 text-center">
        	<a class="btn btn-green" href="{{page.ext}}">Kliknite za slanje prigovora</a>
        </div>

        <div class="col-sm-3 col-xs-3 text-center">
            {% if page.categories %}
             {% for entity in site.entities %}
              {% if page.categories contains entity.page_category %}
              <a class="btn btn-green" href="{{site.alaveteli.url}}/new/{{entity.slug}}/?title={{page.request_title | url_encode}};body={{page.request_body | url_encode }}&tags={{page.request_tags | url_encode}}+from-template:{{page.sequence}}+podnesi:pisani-prigovor">Kliknite za slanje prigovora (2a)</a>
              {% endif %}
             {% endfor %}
            {% endif %}
        </div>

        {% if page.categories %}
        {% for entity in site.entities %}
          {% if page.categories contains entity.page_category %}
          <div class="col-sm-3 col-xs-3 text-center">
                  <a class="btn btn-green" href="{{site.alaveteli.url | append:'/new/' | append:entity.slug | append:'/?title=' | append:page.request_title | append:';body=' | append:page.request_body | append:'&tags=' | append:page.request_tags | append:'+from-template:' | append:page.sequence | append:'+podnesi:pisani-prigovor'}}">Kliknite za slanje prigovora (2b)</a>
                </div>
          {% endif %}
        {% endfor %}
        {% endif %}

        <div class="col-sm-9 col-xs-9 text-left">
        	Idite na ovaj link kako biste poslali prigovor.
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-sm-3 col-xs-3 text-center">
          <a class="btn btn-default" href="{{ site.github }}/{{ site.project-repository }}/edit/gh-pages/{{ page.path }}" target="_blank">Ispravite predložak</a>
        </div>
        <div class="col-sm-9 col-xs-9 text-left">
          Ukoliko ste pronašli grešku u ovom predlošku na Reklamacije.net, možete je ispraviti putem linka na Githubu - prihvaćamo vaš pull request.
        </div>
      </div>
      
      <br /><br />
      <br /><br />

      <div class="row">
        <div class="col-sm-6 col-xs-6 text-left">
       	{% if page.previous.url %}
        	<a class="btn btn-blue" href="{{page.previous.url}}">← Prethodno</a>
        {% else %}
        	<span class="btn btn-blue disabled">← Prethodno</span>
        {% endif %}
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
        {% if page.next.url %}
        	<a class="btn btn-blue" href="{{page.next.url}}">Sljedeće →</a>
        {% else %}
        	<span class="btn btn-blue disabled">Sljedeće →</span>
        {% endif %}
        </div>
      </div>

      {% include footer.html %}
    </div> <!-- content area column -->
  </div> <!-- row  -->
</div> <!-- container -->
